.overview {
    display: flex;
    justify-content: space-between;

    &__heading {

    }

    &__stars {
        
    }

    &__icon-star,
    &__icon-location {
        width: 1.75rem;
        height: 1.75rem;
        fill: $color-primary;
    }

    &__location {
        
    }

    &__rating {

        &-average {
        
        }
    
        &-count {
                
        }
    }    
}